.App {
  display: grid;
  place-content: center;

  min-height: 100vh;
  width: 100%;

  background-color: #f6f8fd;

  font-family: Roboto, Montserrat, Inter, sans-serif;
  --bs-body-color: rgb(24,27,29)
  
}